<!-- Zápatí -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styl částečně převzat z w3schools  -->
<link type="text/css" rel="stylesheet" href="/css/main.css">

<footer>

    <!-- pata projektu -->
    <div class="w3-container w3-theme-l2 w3-padding-16">
        <h5>Studentský projekt - TNPW2 UHK FIM - David Urban</h4>
    </div>

</footer>