<!DOCTYPE html>

<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styl částečně převzat z w3schools  -->
<link type="text/css" rel="stylesheet" href="/css/main.css">

<head>
  <title>Česká Herní Databáze</title>

</head>

{{!-- domovská stránka --}}

<body style="background-color:#00bcd4">


{{> header userLoggedIn}}

  <div class="imagebox">
    <img src="home.jpg" class="center-image" alt="Home Screen center-image">
    <p>{{userLoggedIn.isUserLogged}}</p>
  </div>

  {{>footer}}
</body>

</html>