<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styl částečně převzat z w3schools  -->
<link rel="stylesheet" th:href="@{/main.css}"/>

<head>
    <title>Česká Herní Databáze</title>
</head>

<body>

<!--pouze přihlášený uživatel má povolení tuto stránku vidět-->
<div th:if="${userLoggedIn == true}">
    <nav>
        <!-- hlavička -->
        <div class="w3-top">
            <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
                <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Domů</a>
                <a href="/games" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Hry</a>
                <a href="/user" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Vaše údaje</a>
                <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Odhlásit se</a>
            </div>
        </div>
    </nav>

    <!--registrační formulář-->
    <div class="w3-main">
        <div class="w3-row w3-padding-64" style="margin-left:37%">
            <div class="w3-twothird w3-container">
                <form action="#" th:action="@{/editUser}" th:object="${user}"
                      method="post">
                    <h2 style="margin-left:10%" class="w3-text-blue">Vaše osobní údaje</h2>

                    <input type="hidden" th:field="*{idUser}"/>
                    <input type="hidden" th:field="*{username}"/>
                    <input type="hidden" th:field="*{email}"/>

                    <label>Heslo musí obsahovat alespoň 8 znaků a nesmí v sobě obsahovat slovo
                        "heslo".*</label>
                    <input id="user-password" type="password" name="password" placeholder="Zadejte heslo"
                           class="w3-input" style="margin-bottom:5px" th:field="*{password}">

                    <label>Zadejte svoje jméno. (volitelné) </label>
                    <input type="text" name="password" placeholder="Celé jméno"
                           class="w3-input" style="margin-bottom:5px" th:field="*{fullName}">

                    <label>Zadejte svoji adresu. (volitelné)</label>
                    <input type="text" name="city" placeholder="Zadejte město"
                           class="w3-input" style="margin-bottom:5px" th:field="*{city}">

                    <input type="text" name="street" placeholder="Zadejte ulici"
                           class="w3-input" style="margin-bottom:5px" th:field="*{street}">

                    <input type="text" name="zipCode" placeholder="Zadejte PSČ"
                           class="w3-input" style="margin-bottom:5px" th:field="*{zipCode}">

                    <div style="margin-left:-55px">
                        <button id="register-button" class="w3-button w3-text-blue w3-theme-l3"
                                style="margin-left:19%">Uprav svoje osobní údaje
                        </button>
                    </div>
                </form>

                <div style="margin-top:10px">
                    <button id="back-button" class="w3-button w3-text-blue w3-theme-l3" style="margin-left:21%"><a
                            href="/user">Zpátky</a></button>
                </div>
            </div>
        </div>
    </div>


    <div class="w3-container w3-theme-l2 w3-padding-16" style="margin-top:20px">
        <h5>Studentský projekt - TNPW2 UHK FIM - Alex El Gharred, David Urban</h5>
    </div>
</div>

</body>

</html>