<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styl částečně převzat z w3schools  -->
<link rel="stylesheet" th:href="@{/main.css}"/>
-->

<head>
    <title>Česká Herní Databáze</title>
</head>

<body>

<nav th:if="${userLoggedIn == true}">
    <!-- hlavička -->
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Domů</a>
            <a href="/games" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Hry</a>
            <a href="/user" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Vaše údaje</a>
            <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Odhlásit se</a>
        </div>
    </div>
</nav>

<nav th:if="${userLoggedIn == false}">
    <!-- hlavička -->
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Domů</a>
            <a href="/games" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Hry</a>
            <a href="/register" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Registrace</a>
            <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Přihlaš se</a>
        </div>
    </div>
</nav>

<div th:object="${game}">
    <div class="w3-main">
        <div class="w3-row w3-padding-64">
            <div class="w3-twothird w3-container">
                <!-- zde se zobrazí samotná hra-->
                <h1 class="w3-text-blue " style="margin-left:5%" th:text="*{title}"></h1>
                <b class="w3-text-black" style="margin-left:5%" th:text="' Žánr: '+*{genre}"></b>
                <br>
                <b class="w3-text-black" style="margin-left:5%" th:text="' Platforma: '+*{platform}"></b>
                <br>
                <b class="w3-text-black" style="margin-left:5%" th:text="' Vývojář: '+*{developerCompany}"></b>
                <br>
                <b class="w3-text-black" style="margin-left:5%" th:text="'Vydavatel: '+*{publisherCompany}"></b>
                <p style="margin-left:5%" th:text="*{text}"></p>
            </div>

            <div class="w3-third w3-container ">
                <p class="w3-border w3-padding-large w3-padding-32 w3-center redbackground score-text"
                   style="margin-top:17%" th:text="''+*{score}+' % '+ ${noReviews}"></p>
            </div>
        </div>
    </div>

    <div class="w3-row" style="margin-left:50px">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-blue" style="margin-left:40%">Všechny recenze</h1>

            <h2 th:text="${text}"></h2>
        </div>
    </div>

    <div th:each="review: ${reviews}">
        <div class="w3-row w3-padding-16" style="margin-left:50px">
            <div class="w3-twothird w3-container" style="margin-top:-20px">
                <!-- zbytek se musí propojit z kolekce recenzí podle uživatelského ID  -->
                <h2 class="w3-text-cyan" th:text="${review.getTitle()}+ ' Skóre: '+${review.getScore()}"></h2>
                <p th:text="${review.getText()}"></p>

                <b class="display-one-line w3-left" style="margin-top:-17px"
                   th:text="'Autor: '+${review.getUser().getUsername()}"></b>
                <b class="display-one-line w3-right" style="margin-top:-17px"
                   th:text="'Datum vytvoření: '+${review.getDate()}"></b>
            </div>
        </div>
    </div>

    <div th:if="${userLoggedIn == true}" class="w3-row w3-padding-16" style="margin-left:37%">
        <div class="w3-twothird w3-container">
            <button class="w3-button w3-text-blue w3-theme-l3" style="margin-left:-20%">
                <a th:href="@{/formCreateReview/{idgame}(idgame=${game.getIdGame()})}">Vytvoř
                    novou recenzi </a></button>
        </div>
    </div>

    <div style="margin-top:-15px">
        <div class="w3-row w3-padding-16" style="margin-left:36%">
            <div class="w3-twothird w3-container">
                <button class="w3-button w3-text-blue w3-theme-l3" style="margin-left:-17%">
                    <a th:href="@{/items/{idgame}(idgame=${game.getIdGame()})}">Zobraz bazar ke hře</a></button>
            </div>
        </div>
    </div>
</div>

<div class="w3-container w3-theme-l2 w3-padding-16" style="margin-top:20px">
    <h5>Studentský projekt - TNPW2 UHK FIM - Alex El Gharred, David Urban</h5>
</div>
</body>

</html>