<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styl částečně převzat z w3schools  -->
<link rel="stylesheet" th:href="@{/main.css}"/>

<head>
    <title>Česká Herní Databáze</title>

</head>

<body>

<nav th:if="${userLoggedIn == true}">
    <!-- hlavička -->
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Domů</a>
            <a href="/games" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Hry</a>
            <a href="/user" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Vaše údaje</a>
            <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Odhlásit se</a>
        </div>
    </div>
</nav>

<nav th:if="${userLoggedIn == false}">
    <!-- hlavička -->
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Domů</a>
            <a href="/games" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Hry</a>
            <a href="/register" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Registrace</a>
            <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Přihlaš se</a>
        </div>
    </div>
</nav>

<!--    formulář pro přihlášení -->
<form action="#" th:action="@{/loginUser}" th:object="${loginData}"
      method="post">
    <div class="w3-main">
        <div class="w3-row w3-padding-64" style="margin-left:37%">
            <div class="w3-twothird w3-container">
                <h2 style="margin-left:16%" class="w3-text-blue">Přihlašte se </h2>
                <input type="text" name="email" placeholder="Váš email" class="w3-input" style="margin-bottom:5px" th:text="*{email}">
                <div class="">
                    <input type="password" id="user-password" name="password" placeholder="Heslo" class="w3-input"
                           style="margin-bottom:5px" th:text="*{password}">
                </div>
                <button id="login-button" class="w3-button w3-text-blue w3-theme-l3" style="margin-left:19%">Přihlaš
                    se
                </button>
            </div>
        </div>
    </div>
</form>

<!-- pata -->
<div class="w3-container w3-theme-l2 w3-padding-16" style="margin-top:20px">
    <h5>Studentský projekt - TNPW2 UHK FIM - Alex El Gharred, David Urban</h5>
</div>


</body>

</html>