<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styl částečně převzat z w3schools -->
<link rel="stylesheet" th:href="@{/main.css}"/>-->

<head>
    <title>Česká Herní Databáze</title>
</head>

<body>
<nav>
    <!-- hlavička -->
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
            <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Domů</a>
            <a href="/games" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Hry</a>
            <a href="/register" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Registrace</a>
            <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Přihlaš se</a>
        </div>
    </div>
</nav>

<!--{{!&#45;&#45; registrační formulář &#45;&#45;}}-->
<form method="POST" action="/cgdLists/usersList">
    <div class="w3-main">
        <div class="w3-row w3-padding-64" style="margin-left:37%">
            <div class="w3-twothird w3-container">
                <h2 style="margin-left:10%" class="w3-text-blue">Registrační formulář</h2>

                <label for="user-name">Vaše jméno/přezdívka, pod kterým ostatní uživatelé budou vidět Vaše
                    komentáře.*</label>
                <input id="user-name" type="text" name="username" placeholder="Zadejte jméno" class="w3-input"
                       style="margin-bottom:5px">
                <label for="email">Email slouží primárně pro přihlašování.*</label>
                <input id="email" type="text" name="email" placeholder="Zadejte email" class="w3-input"
                       style="margin-bottom:5px">
                <label>Heslo musí obsahovat alespoň 8 znaků a nesmí v sobě obsahovat slovo
                    "heslo".*</label>

                <div class="">
                    <input id="user-password" type="password" name="password" placeholder="Zadejte heslo"
                           class="w3-input" style="margin-bottom:5px">
                    <input id="showPassword" type="checkbox">Ukaž heslo</input>
                </div>

                <button id="register-button" class="w3-button w3-text-blue w3-theme-l3"
                        style="margin-left:19%">Registrace
                </button>
            </div>
        </div>
    </div>
</form>


<!-- pata -->
<div class="w3-container w3-theme-l2 w3-padding-16">
    <h5>Studentský projekt - TNPW2 UHK FIM - Alex El Gharred, David Urban</h5>
</div>

</body>

</html>