<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Styl částečně převzat z w3schools  -->
<link rel="stylesheet" th:href="@{/main.css}"/>

<head>
    <title>Česká Herní Databáze</title>
</head>

<body>

<!--pouze přihlášený uživatel má povolení tuto stránku vidět-->
<div th:if="${userLoggedIn == true}">
    <nav>
        <!-- hlavička -->
        <div class="w3-top">
            <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
                <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Domů</a>
                <a href="/games" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Hry</a>
                <a href="/user" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Vaše údaje</a>
                <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> Odhlásit se</a>
            </div>
        </div>
    </nav>

    <div style="margin-top:50px">
        <div class="w3-row" style="margin-left:50px">

        </div>
    </div>

    <!-- seznam položek k prodeji uživatele -->
    <div style="margin-top:25px">
        <div class="w3-row" style="margin-left:50px">
            <div class="w3-twothird w3-container">
                <form action="#"
                      th:action="@{/formChangeUser}"
                      method="post">
                    <input type="hidden" th:name="idUser" th:value="${currentUser}"/>
                    <button style="margin-left:50%" class="w3-button w3-text-blue w3-theme-l3"> Uprav osobní údaje
                    </button>
                </form>
                <h1 class="w3-text-blue" style="margin-left:40%">Vaše položky k prodeji</h1>
            </div>
        </div>

        <div th:each="item: ${itemsForSale}">
            <div class="w3-main">
                <div class="w3-row w3-padding-32" style="margin-left:50px">
                    <div class="w3-twothird w3-container" style="margin-bottom:-60px">
                        <h1 class="w3-text-orange" th:text="${item.getItemName()}"></h1>
                        <h2 class="w3-text-red" th:text="'Cena '+${item.getPrice()}+' €'"></h2>
                        <p class="w3-text-green" th:text="'Uživatelské jméno: '+${item.getUser().getUsername()}"></p>
                        <p class="w3-text-blue" th:text="'Kontaktní email: '+${item.getUser().getEmail()}"></p>
                        <p id="description" th:text="${item.getNote()}"></p>
                    </div>

                    <form action="#" th:action="@{/deleteItemForSale}" method="post">
                        <input type="hidden" th:name="idItemForSale" th:value="${item.getIdItemForSale()}"/>
                        <button style="margin-left:-650px" class="w3-button w3-text-blue w3-theme-l3"> Smaž
                            položku k prodeji
                        </button>
                    </form>

                    <form action="#"
                          th:action="@{/formChangeItem/{idItemForSale}(idItemForSale=${item.getIdItemForSale()})}"
                          method="post">
                        <input type="hidden" th:name="idItemForSale" th:value="${item.getIdItemForSale()}"/>
                        <button style="margin-left:-650px" class="w3-button w3-text-blue w3-theme-l3"> Uprav
                            položku k prodeji
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- seznam recenzí uživatele  -->
        <div class="w3-row" style="margin-left:50px">
            <div class="w3-twothird w3-container">
                <h1 class="w3-text-blue" style="margin-left:40%">Vaše recenze</h1>
            </div>
        </div>

        <div th:each="review: ${reviews}">
            <div class="w3-row w3-padding-16" style="margin-left:50px">
                <div class="w3-twothird w3-container" style="margin-top:-20px">
                    <!-- zbytek se musí propojit z kolekce recenzí podle uživatelského ID  -->
                    <h1 class="w3-text-orange" th:text="${review.getGame().getTitle()}"></h1>
                    <h2 class="w3-text-cyan" th:text="${review.getTitle()}+ ' Skóre: '+${review.getScore()}"></h2>
                    <p th:text="${review.getText()}"></p>
                    <b class="display-one-line w3-right" style="margin-top:-17px"
                       th:text="'Datum vytvoření: '+${review.getDate()}"></b>
                </div>

                <form action="#" th:action="@{/deleteReview}" method="post">
                    <input type="hidden" th:name="idReview" th:value="${review.getIdReview()}"/>
                    <button style="margin-left:50px" class="w3-button w3-text-blue w3-theme-l3"> Smaž
                        recenzi
                    </button>
                </form>

                <form action="#" th:action="@{/formChangeReview/{idReview}(idReview=${review.getIdReview()})}"
                      method="post">
                    <input type="hidden" th:name="idReview" th:value="${review.getIdReview()}"/>
                    <button style="margin-left:50px" class="w3-button w3-text-blue w3-theme-l3"> Uprav
                        recenzi
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- pata -->
    <div class="w3-container w3-theme-l2 w3-padding-16" style="margin-top:20px">
        <h5>Studentský projekt - TNPW2 UHK FIM - Alex El Gharred, David Urban</h5>
    </div>
</div>
</body>


</html>